:root {
    --inputgradient: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.design {
     font-family: 'Space Grotesk', sans-serif;
     display: grid;
     grid-template-columns: 30% 1fr;
     width: 100%;
     height: 100%;
}

.gradient {
    height: 100vh;
    background-image: url(/images/bg-main-desktop.png);
    background-color: #fff;
    background-repeat: no-repeat;
    position: relative;
}

form {
    text-align: center;
}

input {
    outline: 0;
    border: 1px solid gray; 
}

.card-image {
    position: absolute;
    background-image: url(/images/bg-card-front.png);
    width: 447px;
    height: 245px;
    border-radius: 10px;
    top: 200px;
    left: 150px;
    box-shadow: 0.5px 0.5px;
}

.second-card-image {
    position: absolute;
    background-image: url(/images/bg-card-back.png);
    width: 447px;
    height: 245px;
    border-radius: 10px;
    top: 500px;
    left: 250px;
    box-shadow: 0.5px 0.5px;
}

.svg-img {
    position: absolute;
    top: 30px;
    left: 40px;
}

#card-number, #card-name, #card-date, #back-number{
    position: absolute;
    color: white;
}

#card-number {
    top: 150px;
    left: 30px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
}

#card-name {
    top: 200px;
    left: 30px;
}

#card-date {
    top: 200px;
    left: 355px;
}

#back-number {
    top: 110px;
    left: 350px;
}
